body{
  margin: 0;
}

.padding{
  padding: 5vh 10vw;
}

header{
  background-image: url('https://barcelonacodeschool.com/files/pics/cur_files/squares.svg');
}

header h1{
  margin: 0;
  /* background-image: url('https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg'); */
}

nav {
  /* height: 5vh; */
  padding: 2vh 10vw;
  position: sticky;
  top: 0px;
  z-index: 2;
}
nav ul {
  padding: 0;
}

ul{
  list-style: none;
}

ul.flexSpaceBetween {
  margin: 0;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-shadow: -3px 3px #000;
  z-index: 1;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.socialLinks p {
  display:  inline-block;
}

.chaticon{
 position: fixed;
 bottom: 10px;
 right: 10px;
 width: 50px;
 border-radius: 10%;
}

.black{
  background: black;
  color: white;
}

.column4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.column3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.column2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.box{
  border: solid 1px black;
  margin: 10px;
  box-shadow: -3px 3px black;
  padding: 2vw;
}

.bottomline{
  border-bottom: solid 1px black;
}

img{
  width: 10%;
  margin: 1em;
}

.center{
  text-align: center;
}

.copyright{
  margin-bottom: 0;
}

.hamburger{
  display: none;
  color: white;
}


@media all and (max-width: 800px){
  .column4{
    grid-template-columns: 1fr;
  }

  .column3{
    grid-template-columns: 1fr;
  }

  .column2{
    grid-template-columns: 1fr;
  }

  .hamburger{
    position: relative;
    display: inline-block;
    /* display: block; */
    color: white;
    width:  100%;
    padding:  2vh 10vw;
  }

  nav{
    display: none;
  }

  .hamburger-content {
    display: none;
    position: absolute;
    left:0;
    z-index:1;
  }
  
  .hamburger:hover .hamburger-content {
    display: block;
    /* animation: popup .5s ease-in-out both; */
    background: black;
    padding: 5vw 10vw;
    width: 100%;
  }
  
  .hamburger span {
    transform: rotate(90deg);
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
    display: inline-block;
  }
  
  .hamburger:hover span {
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }
}
